<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="header">
                    <h5>4536+ Jobs listed</h5>
                    <h1>Find your Dream Job</h1>
                    <p>We provide online instant cash loans with quick approval that suit your term length</p>
                    <button mat-button routerLink="/login">Upload Your Resume</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/1.png" alt="header-photo">
            </div>
        </div>
    </div>
</div>
<!--  end of task1 in first-comp  -->
<div class="container-fluid-1">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <input type="text" placeholder="Search keyword">
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill">
                    <mat-label>Location</mat-label>
                    <mat-select>
                        <mat-option value="option">Egypt</mat-option>
                        <mat-option value="option1">Alexandria</mat-option>
                        <mat-option value="option2">Obour</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill">
                    <mat-label>Category</mat-label>
                    <mat-select>
                        <mat-option value="option">Category1</mat-option>
                        <mat-option value="option1">Category2</mat-option>
                        <mat-option value="option2">Category3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <button mat-button routerLink="/login">Find Job</button>
            </div>
        </div>
        <!-- row number1  -->
        <!-- row number2 -->
        <div class="row">
            <div class="col-md-12">
                <div class="spanwithchips">
                    <span>Popular Search: </span>
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip>Design & Creative</mat-chip>
                        <mat-chip>Marketing</mat-chip>
                        <mat-chip>Administration</mat-chip>
                        <mat-chip>Teaching & Education</mat-chip>
                        <mat-chip>Engineering</mat-chip>
                        <mat-chip>Software & Web</mat-chip>
                        <mat-chip>Telemarketing</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
    </div>
</div>