<div class="container-fluid">
    <div class="overlay">

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="final">
                    <h2>Looking for a Job?</h2>
                    <p>We provide online instant cash loans with quick approval</p>
                    <button mat-button routerLink="/login">Browse Job</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="final">
                    <h2>Looking for a Expert?</h2>
                    <p>We provide online instant cash loans with quick approval</p>
                    <button mat-button routerLink="/login">Post A Job</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /* end-of-container-one of compo forth */ -->
<div class="container-fluid-1">
    <div class="container">
        <h2 class="text-center">Testimonial</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="imgg">
                    <img src="assets/au.png" alt="author">
                    <i class="fa fa-quote-left ic" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-md-8">
                <p>"Working in conjunction with humanitarian aid agencies, we have supported <br> programmes to help
                    alleviate human suffering through animal welfare when people <br> might depend on livestock as their only
                    source of income or food.</p>
                    <br>
                    <span>- Micky Mouse</span>
            </div>
        </div>
    </div>
</div>